---
import Layout from "@layouts/Layout.astro";
import { getSettings } from "@libs/microcms.ts";
export const prerender = true;
const settings = await getSettings();

const Meta = {
  title: "About",
  ogType: "article",
};
---

<Layout Meta={Meta}>
  <article class="prose max-w-none">
    <h1 class="text-3xl font-medium mb-3 leading-normal">About</h1>
    <div set:html={settings.about} class="entry-content" />
  </article>
</Layout>
